<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th-block data-th-replace="~{layout/common :: head (title='Alumnos')}"></th-block>
<body>
<!-- Header -->
<th-block data-th-replace="~{layout/header :: header}"></th-block>
<!-- Main -->
<div class="container bg-body-tertiary border rounded shadow px-4 py-5">
    <h2 class="text-body-emphasis">Sección Estudiante</h2>
    <h5 class="text-muted pb-2 border-bottom">Listado de Estudiantes</h5>
    <!-- Display students -->
    <div class="row mx-0"
         data-th-unless="${#lists.isEmpty(listOfStudents)}">
        <div class="col-12 bg-body-tertiary p-2">
            <!-- List of students -->
            <div class="row mx-0">
                <th-block data-th-each="student : ${listOfStudents}">
                    <!-- Student -->
                    <th-block data-th-replace="~{student/student-display :: information (object='student', display_buttons='true')}"></th-block>
                </th-block>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<th-block data-th-replace="~{layout/footer :: footer}"></th-block>
</body>
</html>