<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th-block data-th-replace="~{layout/common :: head (title='Administrar alumno')}"></th-block>
<body>
<!-- Header -->
<th-block data-th-replace="~{layout/header :: header}"></th-block>
<!-- Main -->
<div class="container">
    <h1>STUDENT FORM</h1>
    <form data-th-action="${band}?@{/student/modifyStudent}:@{/student/saveStudent}" data-th-object="${newStudent}" method="post">
        <div class="d-none">
            <label class="form-label"
                   for="teacher-id"
                   hidden>ID
            </label>
            <input class="form-control"
                   id="teacher-id"
                   name="teacher-id"
                   readonly="readonly"
                   th:field="*{id}"
                   type="hidden">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="personId">PersonId</label>
            <input class="form-control" data-th-field="*{personId}" data-th-readonly="${band}" id="personId"
                   type="number">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" data-th-field="*{name}" id="name" type="text">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="lastName">LastName</label>
            <input class="form-control" data-th-field="*{lastName}" id="lastName" type="text">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" data-th-field="*{email}" id="email" type="email">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="phone">Phone</label>
            <input class="form-control" data-th-field="*{phone}" id="phone" type="number">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="birthDate">BirthDate</label>
            <input class="form-control" data-th-field="*{birthdate}" id="birthDate" type="date">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" data-th-field="*{address}" id="address" type="text">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="universityId">UniversityId</label>
            <input class="form-control" data-th-field="*{universityId}" data-th-readonly="${band}" id="universityId"
                   type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save Student</button>
    </form>
</div>
<!-- Footer -->
<th-block data-th-replace="~{layout/footer :: footer}"></th-block>
</body>

</html>