<!-- Footer -->
<th-block data-th-fragment="footer">
    <div class="container-fluid
                p-0">
        <footer class="d-flex flex-wrap justify-content-between align-items-center
                       bg-body-tertiary
                       border-top
                       py-3 px-3 mt-4">
            <div class="col-md-4 d-flex align-items-center">
                <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href="@{/}">
                    <img data-th-src="@{\img\open-a-file.svg}" width="30" height="30">
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Grupo201 Programación Visual</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="nav-item ms-3">
                    <a class="text-body-secondary" href=""><i class="bi bi-twitter-x"></i></a>
                </li>
                <li class="nav-item ms-3">
                    <a class="text-body-secondary" href=""><i class="bi bi-instagram"></i></a>
                </li>
                <li class="nav-item ms-3">
                    <a class="text-body-secondary" href=""><i class="bi bi-facebook"></i></a>
                </li>
                <li class="nav-item ms-3">
                    <a class="text-body-secondary" href=""><i class="bi bi-whatsapp"></i></a>
                </li>
            </ul>
        </footer>
        <th-block data-th-replace="~{layout/common :: bootstrap_script}"></th-block>
    </div>
</th-block>