<!-- Subject information -->
<th-block data-th-fragment="information (object, display_buttons)">
    <div class="col-12 col-md-6 col-lg-4 p-2">
        <div class="card h-100 shadow-sm">
            <!-- Header -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <!-- Code -->
                <p class="mb-0">Código:
                    <span class="ps-1 text-muted"
                          data-th-text="${__${object}__.code}">
                    </span>
                </p>
                <!-- State -->
                <p class="mb-0">Estado:
                    <span class="ps-1 text-muted">
                        <i data-th-class="${__${object}__.state} ? 'bi bi-check text-success' : 'bi bi-x text-danger'"></i>
                    </span>
                </p>
            </div>
            <!-- Image -->
            <img data-th-replace="~{components/card :: img (source='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3cebad12-6fa3-4e94-9870-7aa1643bae6e/dhlexxy-5bd8c211-bbdb-493a-996a-57f0180e58da.png/v1/fill/w_1014,h_788,q_70,strp/dumping_duck__by_mischadiv04_dhlexxy-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTk0IiwicGF0aCI6IlwvZlwvM2NlYmFkMTItNmZhMy00ZTk0LTk4NzAtN2FhMTY0M2JhZTZlXC9kaGxleHh5LTViZDhjMjExLWJiZGItNDkzYS05OTZhLTU3ZjAxODBlNThkYS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vcndKxTbWVEc3rP6gp3UGF-ZtP_q1fTANjIXgwtf5cw')}" alt="">
            <!-- Body -->
            <div class="card-body bg-light">
                <ul class="list-group">
                    <!-- Name -->
                    <li class="list-group-item">
                        <small class="text-muted">Nombre</small>
                        <h6 class="mb-0" data-th-text="${__${object}__.name}"></h6>
                    </li>
                    <!-- Course -->
                    <li class="list-group-item">
                        <small class="text-muted">Curso</small>
                        <h6 class="mb-0" data-th-text="${__${object}__.course}"></h6>
                    </li>
                    <!-- Duration in hours -->
                    <li class="list-group-item">
                        <small class="text-muted">Cantidad de horas</small>
                        <h6 class="mb-0" data-th-text="${__${object}__.durationInHours}"></h6>
                    </li>
                    <!-- Attendance Type -->
                    <li class="list-group-item">
                        <small class="text-muted">Modalidad</small>
                        <h6 class="mb-0" data-th-text="${__${object}__.attendanceType}"></h6>
                    </li>

                </ul>
            </div>
            <!-- Footer -->
            <th-block data-th-if="${display_buttons}">
                <!-- Update-Back-Add_carrer-Add_teacher to buttons -->
                <div class="card-footer d-flex flex-column justify-content-center align-content-center row-gap-2"
                     data-th-with="objectCode=${__${object}__.code}">
                    <!-- Add subject -->
                    <!--<a class="btn btn-light border border-secondary-subtle link-primary shadow-sm w-100"
                       data-th-href="@{/subject/__${objectCode}__/subjects/add}"
                       role="button">Agregar docente
                    </a>-->
                    <!-- Add career -->
                    <!--<a class="btn btn-light border border-secondary-subtle link-primary shadow-sm w-100"
                       data-th-href="@{/subject/__${objectCode}__/careers/add}"
                       role="button">Agregar carrera
                    </a>-->
                    <!-- Update -->
                    <a class="btn btn-light border border-secondary-subtle shadow-sm"
                       role="button"
                       data-th-href="@{/subject/update/__${objectCode}__}">Modificar
                    </a>
                    <!-- Delete -->
                    <a class="btn btn-light border border-secondary-subtle link-danger shadow-sm"
                       role="button"
                       data-th-href="@{/subject/delete/__${objectCode}__}">Eliminar
                    </a>
                </div>
            </th-block>
        </div>
    </div>
</th-block>