<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th-block data-th-replace="~{layout/common :: head (title='Materias')}"></th-block>
<body>
<!-- Header -->
<th-block data-th-replace="~{layout/header :: header}"></th-block>
<!-- Main -->
<div class="container bg-body-tertiary border rounded shadow px-4 py-5">
    <h2 class="text-body-emphasis">Sección Materia</h2>
    <h5 class="text-muted pb-2 border-bottom">Listado de materias</h5>
    <!-- Display subjects -->
    <div class="row mx-0"
         data-th-unless="${#lists.isEmpty(listOfSubjects)}">
        <div class="col-12 bg-body-tertiary p-2">
            <!-- List of subjects -->
            <div class="row mx-0">
                <th-block data-th-each="subject : ${listOfSubjects}">
                    <!-- Subject -->
                    <th-block data-th-replace="~{subject/subject-display :: information (object='subject', display_buttons='true') }"></th-block>
                </th-block>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<th-block data-th-replace="~{layout/footer :: footer}"></th-block>
</body>
</html>