<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <th-block data-th-replace="~{layout/common :: head (title='Docentes')}"></th-block>
<body>
    <!-- Header -->
    <th-block data-th-replace="~{layout/header :: header}"></th-block>
    <!-- Main -->
    <div class="container
                bg-body-tertiary
                border rounded
                shadow
                px-4 py-5">
        <h2 class="text-body-emphasis">Sección Docente</h2>
        <h5 class="text-muted pb-2 border-bottom">Listado de docentes</h5>
        <!-- Display teachers -->
        <div class="row
                    mx-0"
            data-th-unless="${#lists.isEmpty(listOfTeachers)}">
            <div class="col-12
                        bg-body-tertiary
                        p-2">
                <!-- List of teachers -->
                <div class="row mx-0">
                    <th-block data-th-each="teacher : ${listOfTeachers}">
                        <!-- Teacher -->
                        <th-block data-th-replace="~{teacher/teacher-display :: information (object='teacher', display_buttons='true')}"></th-block>
                    </th-block>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <th-block data-th-replace="~{layout/footer :: footer}"></th-block>
</body>
</html>